@import '../base/color.scss';
@import '../base/fonts.scss';
@import '../base/mixins.scss';

// PrimeNg library for UIs ...
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';

@import '../base/configuration.scss';
.p-button {
    background-color: $primary-color;
    border: 0;
}

// Special styles for eshop App

@import '../libs/products.scss';
@import '../libs/ui.scss';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    background-color: var(--surface-100);
    overflow: hidden;
}

header {
    position: relative;
    top: 0;
    right: 0;
    margin-bottom: 25px;
    .logo {
        img {
            max-width: 36px;
        }
    }
}

.fixed-nav {
    position: fixed;
    width: calc(100% - 30px);
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    top: 5px;
    background-color: var(--surface-200);
    border-bottom: 1px solid var(--surface-300);
    z-index: 10;
    border-radius: 15px;
}

.top-nav {
    margin-top: 72px;
}
.nav {
    width: 100%;

    li {
        list-style: none;
        display: inline-block;
        margin: 0 8px;

        a {
            color: var(--surface-600);
            font-size: 1.2em;
            font-weight: 500;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: $primary-color;
            }
        }
    }
}

.nav-icons {
    border: 2px solid var(--surface-600);
    border-radius: 15px;
    display: flex;
}

.main-icon {
    font-size: 24px;
    float: left;
}

// .navigation {
// }
// ...
footer {
    background-color: var(--yellow-100);
    min-height: 50px;
    padding: 10px 25px;
    width: 100%;
    margin-top: 25px;

    .footer-wrapper {
        align-items: center;

        .social {
            margin-top: 15px;
            text-align: right;
            .nav {
                justify-content: flex-end;
            }
        }
    }
}

// .. styles related to prime ng
.product-quantity {
    .p-button {
        background-color: $primary-color;
        border: 0;
    }
}

.products-page-cats {
    display: flex;
    height: 80px;
    max-width: 100vw;
    flex-wrap: wrap;
    margin: 10px 5px 20px 5px;
}

// media queries for neccesry syles (mobile friendly )

@media screen and (max-width: 768px) {
    .nav {
        li {
            a {
                font-size: 1em;
            }
        }
    }
}
