@import '../base/color.scss';
@import '../base/fonts.scss';
@import '../base/mixins.scss';

// PrimeNg library for UIs ...
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';

@import '../base/configuration.scss';
.p-button {
    background-color: $primary-color;
    border: 0;
}

// Special styles for eshop App
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap');

@import '../libs/products.scss';
@import '../libs/ui.scss';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Naskh Arabic', serif;
    position: relative;
}

.container {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    background-color: var(--surface-100);
    overflow: hidden;
}

header {
  z-index: 9;
    position: relative;
    top: 0;
    right: 0;
    margin-bottom: 25px;
    .logo {
      margin: 0 8px;
        img {
            max-width: 36px;
        }
    }
}

.side-bar {
  display: none;
  transform: translateX(100%);
  z-index: 2;
  position: fixed;
  background-color: var(--surface-100);
  top: 9vh;
  right: 0;
  height: 94vh;
  width: 60vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all .3s ease-out;

  ul.side-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    li {
      list-style: none;
      border-bottom: 1px solid var(--surface-600);
      width: 60%;

      a {
          color: var(--surface-600);
          font-size: 1.2rem;
          font-weight: 500;
          text-decoration: none;
          cursor: pointer;

          &:hover {
              color: $primary-color;
          }
      }
    }
  }
}

.show-side {
  display: flex;
  transform: translateX(0);
  transition: all .3s ease-in;
}


.fixed-nav {
    position: fixed;
    width: calc(100% - 30px);
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    top: 5px;
    background-color: var(--surface-200);
    border-bottom: 1px solid var(--surface-300);
    z-index: 10;
    border-radius: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 0;

    li {
        list-style: none;
        display: inline-block;
        margin: 0 8px;

        a {
            color: var(--surface-600);
            font-size: 1.2rem;
            font-weight: 500;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: $primary-color;
            }
        }
    }
}

.nav-icons {
    border: 2px solid var(--surface-600);
    border-radius: 15px;
    display: flex;
}
.user-icon {
  font-size: 24px;
  margin-bottom: 100px;
}
.main-icon {
    float: left;
    margin: 6px 0;
    font-size: 24px;
}

.menu-icon {
  display: none;
  z-index: 9;
  margin: 0;
  padding: 6px;

  &:hover {
    border-radius: 50%;
    border: 1px solid var(--surface-100);
    background-color: var(--surface-300);
  }
}


// .navigation {
// }
// ...
footer {
    background-color: var(--yellow-100);
    min-height: 50px;
    padding: 10px 25px;
    width: 100%;
    margin-top: 25px;

    .footer-wrapper {
        align-items: center;

        .social {
          margin-top: 15px;
          text-align: right;
          .nav {
            justify-content: flex-end;
          }
        }
    }
}

// .. styles related to prime ng
.product-quantity {
    .p-button {
        background-color: $primary-color;
        border: 0;
    }
}

.products-page-cats {
    display: flex;
    height: 80px;
    max-width: 100vw;
    flex-wrap: wrap;
    margin: 10px 5px 20px 5px;
}

// media queries for neccesry syles (mobile friendly )

@media screen and (max-width: 768px) {
  .user-icon, .main-icon, .menu-icon {
    font-size: 26px;
  }
    .nav {
      display: none;
        li {
            a {
                font-size: 1em;
            }
        }
    }

    .menu-icon {
      display: block;
    }
}
